/* .mantine-AppShell-header {
  border-color: var(--mantine-color-gray-9);
} */

/* .mantine-AppShell-navbar {
  border-color: var(--mantine-color-dark-9);
} */

/* .mantine-AppShell-main {
  border-color: var(--mantine-color-gray-9);
} */
